from mongoengine import connect


connect(host="mongodb+srv://c0stdex:<oostrouh2007>@cd8.4uglir0.mongodb.net/")
pip install mongoengine pymongo dnspython

mongoengine==0.24.1
pymongo==4.2.0
dnspython==2.2.1
redis==4.3.1
faker==13.3.4
pika==1.2.0
